* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: #ffffff;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.title {
  width: 100%;
  /* height: 5rem; */
  background-color: rgb(9, 44, 85);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  font-family: "Alegreya Sans SC", sans-serif;
  color: #fff;
}

.title {
  height: 20%;
}

.container {
  height: 77.5%;
}

.ftr {
  display: flex;
  height: 2.5%;
}

.c4 {
  /* width: 100%;
  min-width: 150px; */
  /* justify-content: center;
  align-items: center; */
}

.c2,
.c3,
.c6,
.c7 {
  width: 100%;
  min-width: 150px;
  height: auto;
  justify-content: space-around;
  /* margin: auto; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container figcaption {
  font-size: 2.5rem;
  align-items: center;
  /* justify-content: center; */
  /* margin: 0 auto; */
  font-family: "Alegreya Sans SC", sans-serif;
  color: rgb(9, 44, 85);
}

.muestra-i {
  border: rgb(9, 44, 85) solid 0.5rem;
  border-radius: 1rem;
  width: 14rem;
}

.muestra-ii {
  border: rgb(9, 44, 85) solid 0.5rem;
  border-radius: 1rem;
  width: 14rem;
}

.muestra-iv {
  border: rgb(9, 44, 85) solid 0.5rem;
  border-radius: 1rem;
  width: 13.5rem;
}

.muestra-iii {
  border: rgb(9, 44, 85) solid 0.5rem;
  border-radius: 1rem;
  width: 13rem;
}

.c1 {
  background-color: rgb(9, 44, 85);
  width: 100%;
  min-width: 150px;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.c2 {
  background-color: #acacac;
}

.c3 {
  background-color: #d6d6d6;
}

.c6 {
  background-color: #d6d6d6;
}

.c7 {
  background-color: #acacac;
}

.c4 {
  /* border-left: solid #ec84af85;
  border-right: solid #ec84af85; */
  background-color: #18181800;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.c5 {
  background-color: rgb(9, 44, 85);
  width: 100vw;
  order: 2;
}

.c1 h2 {
  font-size: 2.5rem;
  justify-content: center;
  margin: 0 auto;
  font-family: "Alegreya Sans SC", sans-serif;
  color: rgb(255, 255, 255);
}

.c5 h2 {
  font-size: 1.3rem;
  margin-left: 1rem;
  font-family: "Alegreya Sans SC", sans-serif;
  color: rgb(255, 255, 255);
}

.c1 section {
  justify-content: space-around;
  /* margin: auto; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.c1 figcaption {
  font-size: 2.5rem;
  align-items: center;
  /* justify-content: center; */
  /* margin: 0 auto; */
  font-family: "Alegreya Sans SC", sans-serif;
  color: rgb(255, 255, 255);
}

.aside__btn {
  font-weight: bold;
  color: rgb(9, 44, 85);
  background-color: #fff;
  border: rgb(255, 255, 255) solid 0.5rem;
  border-radius: 1rem;
  margin: 1rem;
  width: 9.8rem;
  min-width: 20%;
  /* min-height: 15vh; */
  /* /* width: 10vw; */
  /* height: 20vh; */
}

@media (min-width: 600px) {
  .title {
    height: 15vh;
  }

  .c1 {
    width: 25%;
    height: 67.5rem;
  }

  .c4 {
    width: 75%;
    height: auto;
  }
  .c5 {
    width: 100%;
    height: 3vh;
    /* min-width: auto; */
  }
}

@media (min-width: 820px) {
  body {
    /* height: 100vh; */
  }

  .title {
    height: 15vh;
  }

  .container {
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
  }
  .container .c1 {
    min-width: auto;
    width: 100%;
    order: 1;
    height: 20vh;
  }
  .c4 {
    width: 100%;
    height: 62vh;
  }
  .c2,
  .c3,
  .c6,
  .c7 {
    width: 50%;
  }
  .c2 {
    order: 1;
  }
  .c3 {
    order: 2;
  }
  .c7 {
    order: 4;
  }
  .c6 {
    order: 3;
  }
  .container .c5 {
    min-width: auto;
    height: 3vh;
    /* width: 100vw; */
  }
}
